<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The django docker learning series</title>
    <style>
        .body{
            background: rgb(7, 48, 48);
        }
    </style>
</head>
<body>
    <h1>Hello Github!!</h1>
    <h2>Happy to know how to use Git and Github</h2>
    <p>It feels good knowing how to work with docker and dockerhub repositories. Containerization for Microservice Architecture. This works well and it's beneficial for scrum and agile methodologies.</p>
</body>
</html>